<div id="tabs" class="yui3-u-3-4 round demo">

		<ul>
			<li class="accent"><a href="#tabs-1">Framework</a></li>
			<li class="accent"><a href="#tabs-2">Success</a></li>	
			<li class="accent"><a href="#tabs-3">About</a></li>
			<li class="accent"><a href="#tabs-4">Contact</a></li>
			<li class="accent"><a href="#tabs-5">Sign In</a></li>
		</ul>
		
		<div id="tabs-1">
			<%= render 'pages/framework' %>		
		</div>
		
		<div id="tabs-2">
			<%= render 'pages/success' %>
		</div>
		
		<div id="tabs-3">
			<%= render 'pages/about' %>
		</div>
		
		<div id="tabs-4">
			<%= render 'pages/contact' %>
		</div>

		<div id="tabs-5">
			<%= render 'pages/signin' %>
		</div>

	<div style="display: none;" class="demo-description">
	</div>

</div><!-- End tabs -->

